h1, h2, h3, h4, h5, h6 {
    font-family: "Arvo", serif;
}

h1, h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

h3.action {
    margin-bottom: 70px;
    margin-top: 100px;
    text-align: center;
}

header {
    background-color: #f3f3f3;
    padding: 3%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #aaa;
    margin-bottom: 50px;
}

#text-input {
    line-height: 1.5em;
}

#search-bar {
    margin-bottom: 100px;
}
