{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WikiTimeline{% endblock %}

{% block button %}<a href="#build" id="make-TL-button" class="button success build-timeline" role="button"><span>Make a WikiTimeline</span></a>{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="{% static "wikitimeline/css/carousel.css" %}" />
{% endblock %}

{% block content %}
    <form id="query-submit" action="/timeline/" method="POST">{% csrf_token %} 
        <input id="validated-query" name="validated_query" type="hidden" value="" />
    </form>
    <div id="page-content" class="container">
        <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=19SoUdUaFPHUDWgZm8ifuMBxI5x_PrUUGTllr93Os3EY&font=Default&lang=en&initial_zoom=2&height=400' width='100%' height='400' frameborder='0'></iframe>
        <p class="timeline-caption">A WikiTimeline about the <a href="https://en.wikipedia.org/wiki/Timeline_of_Canadian_history" target="_blank">History of Canada in the 20th century</a>.</p>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
          <p>WikiTimeline is a free, open-source tool based on <a href="http://timeline.knightlab.com/" target="_blank">TimelineJS</a> that builds beautiful, interactive timelines using on Wikipedia articles. Just give it a search query or the link to an article, and we'll handle the rest.</p>
          <p>This tool works best with articles that contain a series of events in chronological order. If it doesn't turn out how you expected, try building WikiTimelines using variations of your search query.</p>
        </div>
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
          <h3 class="action" id="build">Enter a Wikipedia link or a search term in the bar search bar below.</h3>
          <div id="search-bar" class="input-group input-group-lg">
            <input type="text" id="text-input" class="form-control" placeholder="Enter a Wikipedia link or a search term here" />
            <span class="input-group-btn">
              <button id="search" class="btn btn-default button success" type="button">Go!</button>
            </span>
          </div>
          <div id="err">
          {% if err %}
            <div class="alert alert-danger" role="alert">{{err}}</div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
{% endblock %}

{% block scripts %}
    <script>

        if (!String.prototype.format) {
          String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
              return typeof args[number] != 'undefined'
                ? args[number]
                : match
              ;
            });
          };
        }

        $(document).ready(function () {
            // CSRF protection per https://docs.djangoproject.com/en/dev/ref/csrf/
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $("#make-TL-button").click(function() {
                $('html, body').animate({
                    scrollTop: $("#build").offset().top
                }, 1000);
            });

            $.fn.search = function () {
                var $th = this;
                var $input = $('#text-input');
                var err_html = '<div class="alert alert-danger" role="alert"> {}</div>';
                function get_err(raw_query) {
                    var query = $.trim(raw_query);
                    if (!query.length)
                        return "Please enter a query or link.";
                }
                function submit() {
                    var qval = $input.val();
                    var err = get_err(qval);
                    if (err) {
                        $('#err').html(err_html.format(err));
                        return;
                    }
                    var d = new Date();
                    tzoffset = d.getTimezoneOffset() / 60;
                    
                    $.ajax({
                        type: 'POST',
                        url: '/validate/',
                        data: {
                            'query': qval,
                            'timezone': tzoffset
                        },
                        success: function (data) {
                            if (data.is_valid) {
                                $('#page-content').html(data.events_html);
                                $("#make-TL-button").hide();
                                $('html, body').animate({
                                    scrollTop: $("#page-content").offset().top
                                }, 500);
                                setTimeout(function () {
                                    $('#validated-query').val(data.validated_query);
                                    $('#query-submit').submit();
                                }, 10000);
                            } else {
                                $('#err').html(data.err_html);
                            }
                        },
                    });
                   
                }
                $th.bind('click', submit);
                $input.keypress(function(e){
                    if (e.which == 13){
                        $th.click();
                    }
                }).autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: "//en.wikipedia.org/w/api.php",
                            dataType: "jsonp",
                            data: {
                                'action': "opensearch",
                                'format': "json",
                                'search': request.term
                            },
                            success: function(data) {
                                response(data[1]);
                            }
                        });
                    }
                });
            };
            $('#search').search();
        });
    </script>
{% endblock %}
