{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WikiTimeline{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block content %}
    <form id="query-submit" action="/timeline/" method="POST">{% csrf_token %} 
        <input id="validated-query" name="validated_query" type="hidden" value="" />
    </form>
    <div id="page-content" class="container">
      <div class="row">
        <div class="col-m-6 col-m-offset-3 col-sm-10 col-sm-offset-1">
          <h3 class="action">Enter a Wikipedia link or a search term in the bar search bar below.</h3>
          <div id="search-bar" class="input-group input-group-lg">
            <input type="text" id="text-input" class="form-control" placeholder="Enter a Wikipedia link or a search term" />
            <span class="input-group-btn">
              <button id="search" class="btn btn-default button success" type="button">Go!</button>
            </span>
          </div>
          <div id="err">
          {% if err %}
            <div class="alert alert-danger" role="alert"><strong>Whoops!</strong> {{err}}</div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    <br/><br/>
{% endblock %}

{% block scripts %}
    <script>

        if (!String.prototype.format) {
          String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) { 
              return typeof args[number] != 'undefined'
                ? args[number]
                : match
              ;
            });
          };
        }

        $(document).ready(function () {
            // CSRF protection per https://docs.djangoproject.com/en/dev/ref/csrf/
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.fn.search = function () {
                var $th = this;
                var $input = $('#text-input');
                var err_html = '<div class="alert alert-danger" role="alert"><strong>{0}</strong> {1}</div>';
                function get_err(raw_query) {
                    var query = $.trim(raw_query);
                    if (!query.length)
                        return "Please enter a query or link.";
                }
                function submit() {
                    var qval = $input.val();
                    var err = get_err(qval);
                    if (err) {
                        $('#err').html(err_html.format("Whoops!", err));
                        return;
                    }
                    var d = new Date();
                    tzoffset = d.getTimezoneOffset() / 60;
                    
                    $.ajax({
                        type: 'POST',
                        url: '/validate/',
                        data: {
                            'query': qval,
                            'timezone': tzoffset
                        },
                        success: function (data) {
                            if (data.is_valid) {
                                $('#page-content').html(data.events_html);
                                setTimeout(function () {
                                    $('#validated-query').val(data.validated_query);
                                    $('#query-submit').submit();
                                }, 10000);
                            } else {
                                $('#err').html(data.err_html);
                            }
                        },
                    });
                   
                }
                $th.bind('click', submit);
                $input.keypress(function(e){
                    if (e.which == 13){
                        $th.click();
                    }
                }).autocomplete({
                    source: function(request, response) {
                        $.ajax({
                            url: "//en.wikipedia.org/w/api.php",
                            dataType: "jsonp",
                            data: {
                                'action': "opensearch",
                                'format': "json",
                                'search': request.term
                            },
                            success: function(data) {
                                response(data[1]);
                            }
                        });
                    }
                });
            };
            $('#search').search();
        });
    </script>
{% endblock %}
