{
    "title": {
        "text": {
            "headline": "{{ query }}",
            "text": "A timeline of events from https://en.wikipedia.org/wiki/Timeline_of_the_Middle_Ages"
        }
    },
    "events": [
    {% for e in events %}
        {
            {% if e.startyear %}
            "start_date": {
                "year": "{{e.startyear}}"
            },
            {% endif %}
            {% if e.endyear %}
            "end_date": {
                "year": "{{e.endyear}}"
              },
            {% endif %}
            {% if e.media_url %}
            "media": {
                "url": "{{e.media_url}}"
            },
            {% endif %}
            {% if e.bg %}
            "background": {
                "opacity":"50",
                "url": "https://upload.wikimedia.org/wikipedia/commons/a/a2/HumiliationValerianusHolbein.jpg"
            },
            {% endif %}
            "text": {
                "headline": "",
                "text": "{{e.description}}"
            }
        },
    {% endfor %}
    ]
}
