{
    "title": {
        {% if titleimg %}
        "background": {
            "opacity":"50",
            "url": "{{titleimg}}"
        },
        {% endif %}
        "text": {
            "headline": "{{ query }}",
            "text": "A timeline of events from https://en.wikipedia.org/wiki/"
        }
    },
    "events": [
    {% for e in events %}
        {
            {% if e.startyear %}
            "start_date": {
                "year": "{{e.startyear}}"
            },
            {% endif %}
            {% if e.endyear %}
            "end_date": {
                "year": "{{e.endyear}}"
              },
            {% endif %}
            {% if e.media_url %}
            "media": {
                "url": "{{e.media_url}}"
            },
            {% endif %}
            {% if e.bg %}
            "background": {
                "opacity":"50",
                "url": "{{e.bg}}"
            },
            {% endif %}
            "text": {
                {% if e.headline %}
                "headline": "{{e.headline}}",
                {% endif %}
                "text": "{{e.description}}"
            }
        },
    {% endfor %}
    ]
}
