{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
  <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
{% endblock %}

{% block title %}WikiTimeline | {{query}}{% endblock %} 

{% block content %}
  <div class="container">
    <h3 class="text-left">Timeline: <strong>{{ query }}</strong></h3>
  </div>
  <div id='timeline-embed' style="width: 100%; height: 600px"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var jsonTL = {{ timeline }};
    timeline = new TL.Timeline('timeline-embed',jsonTL)
  </script>
{% endblock %}
